.nav i {
  font-size: 15px;
}
#myvideo {
  width: 100%;
  min-height: 600px;
  margin-top: 80px;
}

@media only screen and (max-width: 1351px) {
body {
  .logohdr {
    width: 60% !important;
  }
}
}
